body{
  background-color: rgb(46, 117, 133);
  margin:0 auto;
}

h1{
    margin: 2%;
    padding: 2%;
  }

h2{
  font-size: large;
}

p{
  margin: 1%;
  padding: 1%;
}

.clima1{
  padding: 2%;
  margin: 2%;
  border-radius: 5%;
  box-shadow: 1% -7% rgb(71, 78, 78);
}
.clima {
  background-position: center center;
  width: 100%;
  height: 30rem;
  border-radius: 5%;
  box-shadow: 1% -7% rgb(71, 78, 78);
}

.montaña{
  width:100%;
  height: 100%;
}

.icono {
  width: 10rem;
  height: 5rem; 

}